version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: library-db
    environment:
      POSTGRES_DB: librarydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
